/* Write your CSS here */
.list-item {
  background-color: #ffffff;
  border-radius: 15px;
  width: 400px;
  height: 50px;
  border: 1px solid #b5b7c4;
  min-height: 120px;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.title-star-img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-name {
  color: #171f46;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}
.date {
  color: #b5b7c4;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}
.star-btn {
  border: none;
  border-width: 0px;
  background-color: transparent;
}
